body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
}

.to-do{
    margin-top: 100px;
    width: 60%;
    height: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}
.to-do .todoserch{
    width: 55%;
}
.to-do .todoserch input,#chang-body-color {
    margin: 10px 10px 10px 0px;
    padding: 15px 20px;
    height: 15px;
    border-radius: 30px;
    outline: none;
    border: 2px solid black;
    width: 70%;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 600;
    letter-spacing:1px;
}
#chang-body-color::placeholder{
    font-size: larger;
    font-weight: 900;
    color: white;
}

.to-do .todoserch input::placeholder{
    font-size: larger;
    font-weight: 900;
    color: white;
}
 .btn{
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: large;
    transition: 0.5s;
}
 .btn:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
.dotoitemlist ul{
    list-style: number;
    color: red;
}
.dotoitemlist ul li::marker {
    color: red;
  }
.dotoitemlist ul li{
  font-size: 50px;
  font-weight: 700;
  color: black;
}



/* under line on item */
.line-on-text{
    text-decoration: line-through;
 
}


@media  only screen and (max-width: 992px) {
    body{
        width: 100%;
    }
    .to-do {
        width: 100%;
    }
    .to-do .todoserch {
        width: 92%;
        margin-left: 30px;
    }
    .to-do .todoserch input {
        width: 50%;
    }
}

